.userCrud{
    
    table {
        margin-top: 3%;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        border-collapse: collapse;

        td, th {
            padding: 10px;
            border: white 1px solid;
        }
    }

    .error {
        color: red;
    }
}