h1{
    text-align: center;
}

table {
    margin-top: 3%;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: black 1px solid;
}