.form {
    button {
        background-color: darkgray;
        padding: 15px;
        width: 150px;
        border: none;
        border-radius: 10px;
    }    
}
.card {
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15px;
}